<div class="row">
        <div class="col-md-6">
                <div class="table table-hover" *ngIf="campagnes">
                        <thead class="bg-dark text-white">
                            <tr>
                             <th>Campagne</th>
                             <th>Activite</th>
                             <th>Debut</th>
                             <th>Objectifs</th>
                             <th>Responsable</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of campagnes">
                                <td>{{c.nomCampagne}}</td>
                                <td>{{c.activite.nomActivite}}</td>
                                <td>{{c.debutCampagne|date:'dd'}}/{{c.debutCampagne|date:'MM'}}/{{c.debutCampagne|date:'y'}}</td>
                                <td>{{c.objectif}}</td>
                                <td>{{c.responsable}}</td>
                            </tr>
                        </tbody>
                </div>
        </div>
        <div class="col-md-6 col-sm-2">
            <div class="card">
                <div class="card-body">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width:100%;">
                                
                         </highcharts-chart>
                </div>
            </div>
                
        </div>
</div>

<br>  
        

