
<div class="container-fluid d-table">
    <div class="row d-table-row">
        <div class="col-sm-2 d-table-cell" id="side-menu">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-sm-10 d-table-cell">
                <app-header></app-header>
                <div class="bg-dark text-white text-center w-100 dBrand">
                    <h2 class="text-center">Stock</h2>
                  </div>
                    <button class="btn btn-success text-white btn-sm"
                    data-toggle="modal" data-target="#formModal"
                    style="margin-bottom: 2px;">Ajouter un Produit</button> 
                        <div class="row">
                            <div class="col-md-12">
                                    <table class="table col-md-12" *ngIf="stocks">
                                            <thead class="bg-dark text-white">
                                               <tr>
                                                   <th scope="col">Produit</th>
                                                   <th scope="col">Quantite</th>
                                                   <th scope="col">Date Entrée</th>
                                                   <th scope="col"></th>
                                               </tr>
                                            </thead>
                                            <tbody *ngFor="let s of stocks">
                                                <tr>
                                                    <td>{{s.produit.produit}}</td>
                                                    <td>{{s.quantite}}</td>
                                                    <td>{{s.dateEntree|date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                    </div>
                         
                    <div class="row">
                        <div id="footer" class="clearfix">
                                <app-footer></app-footer>
                        </div> 
                    </div> 
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="formModal">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                      <h5 class="modal-title">Nouveau Produit</h5>
            
                    </div>
                    <div class="modal-body">
                      <form #produitForm="ngForm" class="form">
                        <label for="produit">Nom Produit</label>
                        <input type="text" class="form-control" name="produit" ngModel>
                        <label for="typeProduit">Type Produit</label>
                        <input type="text" class="form-control" name="typeProduit" ngModel>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" (click)="ajouter(produitForm.value)" data-dismiss="modal">Ajouter</button>
                    </div>
                  </div>
    </div>
</div>
